{% extends 'product/base.html' %}
{% load static %}
{% block body %}
    <div class="row">
        <div class="col-lg-1 col-lg-3 bg-primary rounded div-space">
            <h4>Don't let it sit around! Sell it here for something else!</h4>
            <form class="py-4" method="post" enctype="multipart/form-data" action="{% url 'product_details' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="px-8 py-8">
                    <button class="btn btn-dark border-0 p-lg-10" type="submit">Submit
                    </button>
                </div>
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} my-3">{{ message }}</div>
                {% endfor %}
                {% endif %}
                 {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
        <div class="col-lg-8 div-scroll">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-6 col-lg-6 col-xl-4 fruite-item">
                        <div class="rounded position-relative div-left-space border border-secondary rounded">
                            <div class="fruite-img image-container">
                                <img class="img-fluid w-100 rounded-top" src="{{ product.image.url }}" alt="{{ product.name }}"/>
                            </div>
                            <div class="p-4">
                                <h4>{{ product.product_name }}</h4>
                                <p>{{ product.short_description }}</p>
                                <h5>Coins: {{ product.price }}</h5>
                                <h5>Quantity: {{ product.quantity }}</h5>
                                <br>
                                <div class="d-flex justify-content-between flex-lg-wrap">
                                    <button class="btn border border-secondary rounded-pill px-3 text-primary"
                                onclick="editProduct('{{ product.product_id }}', '{{ product.product_name }}', '{{ product.product_description }}', '{{ product.quantity }}', '{{ product.price }}', '{{ product.image }}', '{{ product.category }}')">
                            <i class="fa fa-edit me-2 text-primary"> Edit</i>
                        </button>
                                    <form action="{% url 'product_delete' product.product_id %}" method="POST">
                            {% csrf_token %}
                            <button class="div-center btn border border-secondary rounded-pill px-3 text-primary"> <i class="fa fa-trash me-2 text-primary"></i>Delete</button>
                        </form>
                                </div>


                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
        <div class="modal fade" id="editProductModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProductModalLabel">Edit Product</h5>
                        <button class="close-btn" id="closeFormBtn" onclick="closeForm()"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="modal-body">
                        <form id="editProductForm" method="POST" enctype="multipart/form-data" action="{% url 'product_update' %}">
                            {% csrf_token %}
                            <input type="hidden" id="productId" name="product_id" value="{{ product.product_id }}">
                            <div class="form-group">
                                <label for="productName">Product Name</label>
                                <input type="text" class="form-control" id="productName" name="product_name" required>
                            </div>
                            <div class="form-group">
                                <label for="productDescription">Product Description</label>
                                <textarea class="form-control" id="productDescription" name="product_description"
                                          required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="categoryName">Category</label>

                                <select class="form-control" id="productCategory" name="category" required>
                                    {% for category in categories %}
                                        <option value="{{ category }}">{{ category }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="productQuantity">Quantity</label>
                                <input type="number" class="form-control form-margin-left" id="productQuantity" name="quantity" required>
                            </div>
                            <div class="form-group">
                                <label for="productPrice">Coins</label>
                                <input type="number" class="form-control form-margin-left" id="productPrice" name="price" required>
                            </div>
                            <div class="form-group">
                                <label for="productImage">Image</label>
                                <input type="file" class="form-control" id="productImage" name="image" accept="image/*"
                                       required>
                            </div>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}