{% extends 'product/base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block body %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-8 offset-sm-2">
                <h3>ABOUT US:</h3>
                <hr>
                <div class="shadow p-5">
                    <div class="text-center">
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    <div class="row my-3">
            <div class="col-sm-8 offset-sm-2">
                <h3>OUR TEAM:
                </h3>
                <hr>

                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <img src="{% static '/EcoExchange/img/team/Tanya.png' %}" class="card-img-top" alt="TG">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    <a href="https://www.linkedin.com/in/gautamt11" target="_blank">Tanya Gautam</a>
                                </h4>
                            </div>
                        </div>
                    </div>
{#                add 5 more cards#}
                     <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <img src="{% static '/EcoExchange/img/team/Kausar.png' %}" class="card-img-top" alt="KF">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    <a href="#" target="_blank">Kausar Fatema</a>
                                </h4>
                            </div>
                        </div>
                    </div>
{#                    3#}
                     <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <img src="{% static '/EcoExchange/img/team/HArshil.png' %}" class="card-img-top" alt="HT">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    <a href="#" target="_blank">Harshil Tyagi</a>
                                </h4>
                            </div>
                        </div>
                    </div>
{#                    4#}
                     <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <img src="{% static '/EcoExchange/img/team/Rutvik.png' %}" class="card-img-top" alt="RP">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    <a href="https://www.linkedin.com/in/rutvikonline" target="_blank">Rutvik Patel</a>
                                </h4>
                            </div>
                        </div>
                    </div>
{#                  5#}
                     <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <img src="{% static '/EcoExchange/img/team/Parneet.png' %}" class="card-img-top" alt="PK">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    <a href="www.linkedin.com/in/parneet-kaur97" target="_blank">Parneet Kaur</a>
                                </h4>
                            </div>
                        </div>
                    </div>
{#                    6#}
                     <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <img src="{% static '/EcoExchange/img/team/Pooja.png' %}" class="card-img-top" alt="Pooja">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    <a href="#" target="_blank">Pooja Vishwakarma</a>
                                </h4>
                            </div>
                        </div>
                    </div>
{#                    7#}
                     <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <img src="{% static '/EcoExchange/img/team/Gurekam.png' %}" class="card-img-top" alt="GS">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    <a href="#" target="_blank">Gurekam Singh</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
        </div>
    </div>
{% endblock body %}