{% extends 'product/base.html' %}
{% block body %}
    <div class="div-center">
    <div class="col-lg-1 col-lg-3 bg-primary rounded div-space">
  <h1 class="div-center div-padding-right">{% if form.instance.pk %}Update{% else %}Create{% endif %} Auction</h1>
  <form id="auction-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
      <div class="div-center div-padding">
    <button class="btn border border-secondary rounded-pill px-3 button-text"> <i class="fa fa-spinner fa-spin"></i> Save</button>
    </div>
  </form>
  <a href="{% url 'auction_list' %}" id="cancel-button">Cancel</a>

  <script>
    document.getElementById('auction-form').onsubmit = function(e) {
      e.preventDefault();
      const formData = new FormData(this);
      const actionUrl = this.action;

      fetch(actionUrl, {
        method: 'POST',
        body: formData,
        headers: {
          'X-Requested-With': 'XMLHttpRequest'
        }
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          window.location.href = '{% url "auction_list" %}';
        } else {
          alert('Error: ' + JSON.stringify(data.errors));
        }
      })
      .catch(error => console.error('Error:', error));
    };

    document.getElementById('cancel-button').onclick = function(e) {
      window.location.href = '{% url "auction_list" %}';
    };
  </script>
    </div>
    </div>
{% endblock %}
