{% extends 'product/base.html' %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <!-- Sidebar Navigation -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="{% url 'dashboard' section='home' %}"
                       class="list-group-item list-group-item-action active">Dashboard</a>
                    <a href="{% url 'user_details:profile' %}" class="list-group-item list-group-item-action ">Edit
                        Profile</a>
                    <a href="{% url 'user_orders' %}" class="list-group-item list-group-item-action ">Your Orders</a>
                    <a href="{% url 'ordered_products' %}" class="list-group-item list-group-item-action ">Your Products</a>
                    <a href="{% url 'dashboard' section='coins' %}" class="list-group-item list-group-item-action ">Coin
                        History</a>
                    <a href="{% url 'dashboard' section='query' %}" class="list-group-item list-group-item-action ">Your Raised Queries</a>
                    {% if user.is_superuser %}
                        <a href="{% url 'user_details:user_visit_history' %}"
                           class="list-group-item list-group-item-action">View Visit History</a>
                    {% endif %}
                    <a href="{% url 'user_details:password_change' %}" class="list-group-item list-group-item-action">Change
                        Password</a>
                    <a href="{% url 'user_details:logout' %}" class="list-group-item list-group-item-action">Logout</a>
                    <form id="logout-form" action="{% url 'user_details:logout' %}" method="post"
                          style="display: none;">
                        {% csrf_token %}
                    </form>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} my-3">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- Profile Form -->
            <div class="col-md-8">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title mb-4">Welcome, <span
                                class="text-capitalize">{{ request.user.username }}</span></h3>
                        <table style="width: 80%; border-collapse: collapse; margin: 20px 0;">
                            <tr>
                                <th style="width:40%; padding: 12px; border: 1px solid #ddd; text-align: left; background-color: #f4f4f4;">
                                    First Name
                                </th>
                                <td style="padding: 12px; border: 1px solid #ddd; text-align: left;">{{ details.first_name }}</td>
                            </tr>
                            <tr>
                                <th style=" width:40%; padding: 12px; border: 1px solid #ddd; text-align: left; background-color: #f4f4f4;">
                                    Last Name
                                </th>
                                <td style="padding: 12px; border: 1px solid #ddd; text-align: left;">{{ details.last_name }}</td>
                            </tr>
                            <tr>
                                <th style="padding: 12px; border: 1px solid #ddd; text-align: left; background-color: #f4f4f4;">
                                    Email
                                </th>
                                <td style="padding: 12px; border: 1px solid #ddd; text-align: left;">{{ details.email }}</td>
                            </tr>
                            <tr>
                                <th style="padding: 12px; border: 1px solid #ddd; text-align: left; background-color: #f4f4f4; width: 50%;">
                                    Mobile Number
                                </th>
                                <td style="padding: 12px; border: 1px solid #ddd; text-align: left;">{{ details.mobile_no }}</td>
                            </tr>
                            <tr>
                                <th style="padding: 12px; border: 1px solid #ddd; text-align: left; background-color: #f4f4f4;">
                                    Address
                                </th>
                                <td style="padding: 12px; border: 1px solid #ddd; text-align: left;">{{ details.address }}</td>
                            </tr>
                            <tr>
                                <th style="padding: 12px; border: 1px solid #ddd; text-align: left; background-color: #f4f4f4;">
                                    Available Coins
                                </th>
                                <td style="padding: 12px; border: 1px solid #ddd; text-align: left;">{{ details.coin_balance }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}