{% extends 'product/base.html' %}
{% load static %}
{% block title %}Product Details{% endblock title %}
{% block body %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-8 offset-sm-2">

                <h3>{{ product.product_name }}</h3>
                <hr>
                <div class="shadow p-5" data-product-quantity="{{ product.quantity }}">
                    <div class="text-center">
                        <img src="{{ product.image.url }}" alt="{{ product.product_name }}" class="img-fluid mb-3">
                    </div>
                    <p><strong>Description:</strong> {{ product.product_description }}</p>
                    <p><strong>Quantity:</strong> {{ product.quantity }}</p>
                    <p><strong>Price:</strong> ${{ product.price }}</p>
                    <p><strong>Category:</strong> {{ product.get_category_display }}</p>
                    <p><strong>Posted by:</strong> <a href="{% url 'user_details:seller_desc' product.user.id %}">{{ product.user.username }}</a></p>
                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button" id="decrease">-</button>
                            </div>
                            <input type="text" id="quantity" name="quantity" class="form-control text-center" value={{ cart_quantity }} readonly>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="increase">+</button>
                            </div>
                        </div>
                    </div>
                    <p style='text-align: center'>
                        <button id="add-to-cart" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">
                            <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                        </button>
                    </p>
                    <div id="message" class="alert alert-success d-none" role="alert">
                        Item added to the cart. <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
        var maxQuantity = parseInt($('.shadow').data('product-quantity'));

        $('#increase').click(function() {
            var quantity = parseInt($('#quantity').val());
            if (quantity < maxQuantity && quantity > 0) {
                $('#quantity').val(quantity + 1);
            } else {
                alert('Sorry, only ' + maxQuantity + ' items are in stock.');
            }
        });

            $('#decrease').click(function() {
                var quantity = parseInt($('#quantity').val());
                if (quantity > 1) {
                    $('#quantity').val(quantity - 1);
                }
            });

            $('#add-to-cart').click(function() {
                var quantity = $('#quantity').val();
                $.ajax({
                    url: "{% url 'add_to_cart' product.product_id %}",
                    type: "POST",
                    data: {
                        'quantity': quantity,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        $('#message').removeClass('d-none');
                        $('#message').html(response.message + ' <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
                    },
                    error: function(xhr, errmsg, err) {
                        $('#message').removeClass('d-none alert-success').addClass('alert-danger');
                        $('#message').html('There was an error adding the item to the cart. <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
                    }
                });
            });

            $('#message').on('click', '.close', function() {
                $('#message').addClass('d-none');
            });
        });
    </script>
{% endblock %}
