<h1>Welcome to {{ details.username }}</h1>
<table style="width: 80%; border-collapse: collapse; margin: 20px 0;">
    <tr>
        <th style="width:40%; padding: 12px; border: 1px solid #ddd; text-align: left; background-color: #f4f4f4;">
            First Name
        </th>
        <td style="padding: 12px; border: 1px solid #ddd; text-align: left;">{{ details.first_name }}</td>
    </tr>
    <tr>
        <th style=" width:40%; padding: 12px; border: 1px solid #ddd; text-align: left; background-color: #f4f4f4;">
            Last Name
        </th>
        <td style="padding: 12px; border: 1px solid #ddd; text-align: left;">{{ details.last_name }}</td>
    </tr>
    <tr>
        <th style="padding: 12px; border: 1px solid #ddd; text-align: left; background-color: #f4f4f4;">
            Email
        </th>
        <td style="padding: 12px; border: 1px solid #ddd; text-align: left;">{{ details.email }}</td>
    </tr>
    <tr>
        <th style="padding: 12px; border: 1px solid #ddd; text-align: left; background-color: #f4f4f4; width: 50%;">
            Mobile Number
        </th>
        <td style="padding: 12px; border: 1px solid #ddd; text-align: left;">{{ details.mobile_no }}</td>
    </tr>
    <tr>
        <th style="padding: 12px; border: 1px solid #ddd; text-align: left; background-color: #f4f4f4;">
            Address
        </th>
        <td style="padding: 12px; border: 1px solid #ddd; text-align: left;">{{ details.address }}</td>
    </tr>
    <tr>
        <th style="padding: 12px; border: 1px solid #ddd; text-align: left; background-color: #f4f4f4;">
            Available Coins
        </th>
        <td style="padding: 12px; border: 1px solid #ddd; text-align: left;">{{ details.coin_balance }}</td>
    </tr>
</table>