{% extends 'product/base.html' %}
{% load static %}

{% block title %}Password Change{% endblock title %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <!-- Sidebar Navigation -->
        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Profile</a>
                <a href="#" class="list-group-item list-group-item-action">Address</a>
                <a href="#" class="list-group-item list-group-item-action active">Change Password</a>
            </div>
        </div>

        <!-- Confirmation Message -->
        <div class="col-md-9">
            <div class="text-center">
                <h3>Password Changed Successfully!</h3>
                <div>
                    <!-- Improved responsive embedding for GIF -->
                    <div style="width: 100%; max-width: 200px; margin: auto;">
                        <iframe src="https://giphy.com/embed/bRpa6DFERjTR9roQcQ" width="100%" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    </div>
                </div>
                <!-- Link to profile or any other relevant page -->
                <a href="{% url 'user_details:profile' %}" class="btn btn-primary mt-3">Return to Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
