{% extends 'product/base.html' %}
{% load static %}
{% block title %}Set New Password{% endblock title %}
{% block body %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <h3>Set New Password</h3>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                     <input type="submit" class="btn btn-primary mt-4" value="Set Password">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
