{% extends 'product/base.html' %}
{% load static %}

{% block title %}Password Change{% endblock title %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <!-- Sidebar Navigation -->
        <div class="col-md-3">
            <div class="list-group">
                <a href="{% url 'dashboard' section='home' %}" class="list-group-item list-group-item-action active">Dashboard inner</a>
                <a href="{% url 'user_details:profile' %}" class="list-group-item list-group-item-action ">Edit Profile</a>
                <a href="{% url 'user_orders' %}" class="list-group-item list-group-item-action ">Your Orders</a>
                <a href="{% url 'ordered_products' %}" class="list-group-item list-group-item-action ">Your Products</a>
                <a href="{% url 'dashboard' section='coins' %}" class="list-group-item list-group-item-action ">Coin History</a>
                <a href="{% url 'dashboard' section='query' %}" class="list-group-item list-group-item-action ">Your Raised Queries</a>
                {% if user.is_superuser %}
                        <a href="{% url 'user_details:user_visit_history' %}"
                           class="list-group-item list-group-item-action">View Visit History</a>
                {% endif %}
                <a href="{% url 'user_details:password_change' %}" class="list-group-item list-group-item-action">Change Password</a>
                <a href="{% url 'user_details:logout' %}" class="list-group-item list-group-item-action">Logout</a>
            </div>
        </div>

        <!-- Confirmation Message -->
        <div class="col-md-9">
            <div class="text-center">
                <h3>Password Changed Successfully!</h3>
                <div>
                    <!-- Improved responsive embedding for GIF -->
                    <div style="width: 100%; max-width: 200px; margin: auto;">
                        <iframe src="https://giphy.com/embed/bRpa6DFERjTR9roQcQ" width="100%" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    </div>
                </div>
                <!-- Link to profile or any other relevant page -->
                <a href="{% url 'user_details:profile' %}" class="btn btn-primary mt-3">Return to Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
